<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Hotels</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container">
		<h2>
			Welcome to Tax' Manager
		</h2>
		<br/>

		<a class="btn btn-default pull-right" href="/irs/buyers">Create Buyer</a>
		<a class="btn btn-default pull-right" href="/irs/sellers">Create Seller</a>

		<br/>
		
	
			</tbody>
		</table>
	</div>
</body>
</html>